<div class="hero-image section">
    <img src="{{ section.settings.image }}">
</div>

{% schema %}
{
    "name": "Hero image",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Hero image",
            "category": "Image"
        }
    ]
}
{% endschema %}